.main {
  max-width: 1187px;
  width: 100%;
  margin: auto;
}
.comments-section  {
  margin: auto;
  max-width: 1168px;
  width: 100%;
}
.pagination {
  margin: auto;
  max-width: 768px;

}
.comments-section h4 {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: gray;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
  position: relative;
}
.comments-section .comments {
  color: white;
}
.comments-section .comments h4 {
  border: 0;
}
.comments-section .comment {
  background: #28282B;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 7px;
}
.comments-section .comment blockquote {
  color: #eee;
  padding: 1em;
  border-left: 2px solid #76daff;
  background: rgba(0, 0, 0, 0.05);
}
.comments-section .comment code {
  font-family:  monospace;
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
  margin: 0 2px;
  border-radius: 2px;
}
.comments-section .comment .box {
  background: #1d1f20;
  padding: 20px;
}
.comments-section .comment .box pre {
  overflow: auto;
  margin: 0;
}
.comments-section .comment .box pre code {
  background: transparent;
}
.comments-section .comment .box + .box {
  padding-top: 0px;
}
.comments-section .comment a {
  color: #76daff;
}
.comments-section .comment .comment-user {
  border-bottom: 1px solid #555;
  padding: 10px 45px 20px;
  display: flex;
  align-items: center;
}
.comments-section .comment .comment-user .avatar img {
  width: 35px;
  height: 35px;
}
.comments-section .comment .comment-user .username {
  color: #76daff;
}
.comments-section .comment .comment-user .user-details {
  color: #666;
  margin-left: 10px;
}
.comments-section .comment .comment-text {
  padding: 10px 45px 20px;
}

body {background-color: #fff !important;}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.618;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #008CBA;
    border-color: #204d74;
}


/* search bar */
* {
  box-sizing: border-box;
}

#result {
  font-size: 27px;
  margin-top: 10px;
}


.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #333333;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search:before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #00FEDE;
  transition: all 0.5s ease;
}
.search.open {
  width: 420px;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}
.search-box:focus {
  outline: none;
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #00FEDE;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: '';
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 22px;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 22px;
  top: 13px;
  height: 18px;
}


.search-bar-btn {
  margin-top: 120px; 
}

/* pop up */

.pop-up {
  z-index: 100000;
  max-width: 968px;
  width : 100%;
  margin: auto; 
  background-color:#333333; 
  padding: 5px; 
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
  padding-top: 13px;
  overflow-x: auto;
  overflow-y: auto;
  overflow: auto;
  height: 95%;
  color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 15px gray;
  max-height: 400px;
  overflow: auto;
  margin-top: 120px;
}
.pop-up p {
  text-align: justify;
  font-size: 19px;
  font-family: serif;
}
.readMsg {
  background-color: #33333333 ;
  width: 100%;
  height: 100%;
  border : 2px solid black;
  position: fixed;
  top: 0;
  left : 0;
  right: 0;
  cursor: pointer;
  display: none; /* hidden by default **/
  position: fixed;
}
.readMsg h2 {
  color: white;
  font-size: 27px;
  text-align: center;
}
.pop-up button {
  background-color: none;
  color: red;
  border : none;
  cursor: pointer;
  font-size: 29px;
  float: right;
}

@media screen and (max-width: 768px){
  .pop-up {
    width: 87%;
  }

} 


/* pop-up */